
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@section scripts{
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var save = '@TempData["Save"]'
            if (save != null) {
                alertify.success(save);
            }
        })
    </script>
}