@model IEnumerable<OnelineShop.Models.ProductTypes>

@{
    ViewData["Title"] = "Index";
}
 <h2 class="text-info">
     Product Types List
 </h2>
  <div>
      <a asp-action="Create" class="btn btn-primary">New Product Type</a>
  </div>
    <br/>
<div>
    <table class="table table-striped border">
        <thead class="table-info">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProductType)
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductType)
                    </td>
                    <td>
                        <partial name="_ButtomViewPartial" model="item.Id" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts{
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var save = '@TempData["Save"]'
            if (save != null) {
                alertify.success(save);
            }
        })
    </script>
}