
@{
    ViewData["Title"] = "Index";
}
<h2 class="text-info">
    Role
</h2>
<div>
    <a asp-action="Create" class="btn btn-primary">Add New Role</a>
</div>
<br />
<div>
    <table class="table table-striped border">
        <thead class="table-info">
            <tr>
                <th>
                    Name
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.Roles)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td width="150px">
                        <partial name="PartialView" model="item.Id" />
                    </td>               
                </tr>
            }
        </tbody>
    </table>
</div>
@section scripts{
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var save = '@TempData["Save"]'
            if (save != null) {
                alertify.success(save);
            }
        })
    </script>
}

